name: Run Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        version: "0.5.13"

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        uv sync --extra test
        uv sync --extra grid
        uv add xarray --group=grid
        # Temporarily install data_helpers from built wheel until published to PyPI
        uv pip install -U built_dependencies/data_helpers-0.2.1-py3-none-any.whl

    - name: Setup test env
      run: |
        mkdir -p tests/key_processes
        touch tests/__init__.py
        cp -R src/pyDO3SE/tests/key_processes tests
        cp src/pyDO3SE/tests/utils.py tests/utils.py
        mkdir -p examples
        cp -R src/pyDO3SE/examples .

    - name: Run tests
      run: |
        source .venv/bin/activate
        python -m pytest tests